@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");

* {
	margin: 0;
	padding: 0;
}

:root {
	--orange: hsl(35, 77%, 62%);
	--red: hsl(5, 85%, 63%);
	--off-white: hsl(36, 100%, 99%);
	--grayish-blue: hsl(233, 8%, 79%);
	--dark-grayish-blue: hsl(236, 13%, 42%);
	--dark-blue: hsl(240, 100%, 5%);
	--soft-black: rgb(13, 13, 13);
}

li a {
	color: var(--orange);
	text-decoration: none;
	transition: 0.5s;
}

li a:hover {
	/* opacity: 0.7; */
	color: var(--red);
}

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-family: "PT Sans", sans-serif;
	font-size: 0.9rem;
	font-weight: bold;
	background: var(--soft-black);
	height: 10vh;
	box-shadow: 0 5px 30px var(--dark-blue);
}

.nav-list {
	list-style: none;
	display: flex;
}

.nav-list li {
	letter-spacing: 0.2rem;
	margin-left: 2rem;
}

.menu-mobile {
	display: none;
	cursor: pointer;
}

.menu-mobile div {
	width: 2rem;
	height: 0.125rem;
	background: #fff;
	margin: 0.5rem;
	transition: 0.5s;
}

@media (max-width: 999px) {
	body {
		overflow-x: hidden;
	}

	.nav-list {
		position: absolute;
		top: 8vh;
		right: 0;
		width: 50vw;
		height: 92vh;
		background: var(--soft-black);
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		transform: translateX(100%);
		transition: transform 0.3s ease-in-out;
	}

	.nav-list li {
		margin-left: 0;
		opacity: 0;
	}

	.menu-mobile {
		display: block;
	}
}

.nav-list.active {
	transform: translateX(0);
}

@keyframes navLinkFade {
	from {
		opacity: 0;
		transform: translateX(3.125rem);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

.menu-mobile.active .line1 {
	transform: rotate(-45deg) translate(-8px, 8px);
}

.menu-mobile.active .line2 {
	opacity: 0;
}

.menu-mobile.active .line3 {
	transform: rotate(45deg) translate(-5px, -7px);
}
