@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");

* {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

html,
body {
	min-height: 100%;
}

:root {
	--orange: hsl(35, 77%, 62%);
	--red: hsl(5, 85%, 63%);
	--off-white: hsl(36, 100%, 99%);
	--grayish-blue: hsl(233, 8%, 79%);
	--dark-grayish-blue: hsl(236, 13%, 42%);
	--dark-blue: hsl(240, 100%, 5%);
	--soft-black: rgb(13, 13, 13);
}

.flex-container {
	display: flex;
	min-width: 320px;
	max-width: 999px;
	width: 100%;
	margin: auto;
}

li a {
	color: var(--orange);
	text-decoration: none;
	transition: 0.5s;
}

li a:hover {
	/* opacity: 0.7; */
	color: var(--red);
}

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-family: "PT Sans", sans-serif;
	font-size: 0.9rem;
	font-weight: bold;
	background: var(--soft-black);
	height: 10vh;
	box-shadow: 0 5px 30px var(--dark-blue);
}

.nav-list {
	list-style: none;
	display: flex;
}

.nav-list li {
	letter-spacing: 0.2rem;
	margin-left: 2rem;
}

.main-news-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1.25rem;
	margin: 0 auto;
	max-width: 1240px;
	padding: 20px;
}

.main-news-container:nth-child(1) {
	grid-row: 1 / 3;
}

.side-news {
	background: var(--dark-blue);
	width: 18vw;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 10px;
	margin: 0 auto;
}

.side-news h2 {
	color: var(--orange);
	font-size: 2.5rem;
	font-weight: 800;
}

.side-news h3 {
	color: var(--off-white);
	font-weight: 800;
}

.side-news p {
	color: var(--dark-grayish-blue);
	font-size: 1.07rem;
}

.divider-news {
	background: var(--dark-grayish-blue);
	width: 95%;
	height: 0.0625rem;
}

.main-news {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.btn-read-more {
	grid-column: 2;
	display: grid;
	background: var(--red);
	color: var(--off-white);
	font-size: 1rem;
	font-weight: 700;
	border: none;
	cursor: pointer;
	padding: 1rem;
	margin: 2.5rem 0 0 0;
	transition-duration: 0.3s;
}

.btn-read-more:hover {
	background: var(--dark-blue);
}

.main-news h2 {
	font-size: 4rem;
}

.main-news p {
	color: var(--dark-grayish-blue);
}

.grid-other-news-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1.25rem;
	margin: 0 auto;
	max-width: 1240px;
	padding: 20px;
}

.grid-other-news-container div:nth-child(n + 1) {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
}
.menu-mobile {
	display: none;
	cursor: pointer;
}

.menu-mobile div {
	width: 2rem;
	height: 0.125rem;
	background: #fff;
	margin: 0.5rem;
	transition: 0.5s;
}

footer {
	display: flex;
	background: var(--dark-blue);
	height: 4.375rem;
}

footer .footer {
	justify-content: space-between;
	color: var(--dark-grayish-blue);
	/* align-items: center; */
}

.flex-container-icons {
	display: flex;
	justify-content: center;
}

.flex-container-icons i {
	color: var(--dark-grayish-blue);
	transition: 0.4s;
	margin: 0.625rem;
}

.flex-container-icons i:hover {
	color: var(--dark-blue);
}

/* menu hamburguer */
@media (max-width: 999px) {
	body {
		overflow-x: hidden;
	}

	.nav-list {
		position: absolute;
		top: 8vh;
		right: 0;
		width: 50vw;
		height: 92vh;
		background: var(--soft-black);
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		transform: translateX(100%);
		transition: transform 0.3s ease-in-out;
	}

	.nav-list li {
		margin-left: 0;
		opacity: 0;
	}

	.menu-mobile {
		display: block;
	}
}

.nav-list.active {
	transform: translateX(0);
}

@keyframes navLinkFade {
	from {
		opacity: 0;
		transform: translateX(3.125rem);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

.menu-mobile.active .line1 {
	transform: rotate(-45deg) translate(-8px, 8px);
}

.menu-mobile.active .line2 {
	opacity: 0;
}

.menu-mobile.active .line3 {
	transform: rotate(45deg) translate(-5px, -7px);
}
